/* Style Glassmorphism */
.glass, .modal-content {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: auto;
  margin-top: 50px;
  transition: transform 0.3s ease;
}

.glass:hover, .modal-content:hover {
  transform: scale(1.05);
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

/* Style pour le modal Easter Egg */
.modal-content-e {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: auto;
  margin-top: 50px;
  transition: transform 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content-e:hover {
  transform: scale(1.05);
}

/* Style pour l'image du chat */
.modal-content-e img {
  max-width: 100%;
  border-radius: 8px;
}


/* Autres styles */
body {
  background: #F1F1F1;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #1F1F1F;
}

#secureText {
  margin: 20px 0;
  padding: 10px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  filter: blur(4px);
  transition: filter 0.3s ease;
}

#secureText:hover {
  filter: blur(0);
}

button {
  display: block;
  margin: auto;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #0078D4;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #005A9E;
  box-shadow: 0 0 10px rgba(0, 90, 158, 0.5);
  transform: translateY(-2px);
}
