<!DOCTYPE html>
<html>
<head>
  <title>Secure Note</title>
  <link rel="stylesheet" type="text/css" href="/style/index.css">
  <script src="https://cdn.jsdelivr.net/npm/crypto-js@3.1.9-1/crypto-js.js"></script>
  <script src="/script/upload.js"></script>
</head>
<body>
  <h1>Secure Note</h1>
  <div class="glass">
    <form>
      <textarea name="text" rows="4" cols="50" placeholder="Entrez votre texte ici..."></textarea><br>
      <input type="submit" value="Upload">
    </form>
  </div>
</body>
</html>
