<!DOCTYPE html>
<html>
<head>
  <title>View Note</title>
  <link rel="stylesheet" type="text/css" href="/download.css">
  <script src="/easteregg.js"></script>
  <script>
    
    // Function to confirm reading
    function confirmRead() {
     const secureTextElement = document.getElementById("secureText");
     secureTextElement.innerText = '<%= text %>';
       markAsRead();
       closeModal();
    }

    // Function to close the modal without reading
    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }

    function markAsRead() {
      const id = '<%= id %>';
      fetch(`/markAsRead/${id}`, {
        method: 'POST'
      }).then(response => {
        if (response.ok) {
          console.log('Note marked as read and deleted');
        } else {
          console.log('Failed to mark note as read');
        }
      });
    }

    function copyToClipboard() {
      const textArea = document.createElement('textarea');
      textArea.value = document.getElementById("secureText").innerText;
      document.body.appendChild(textArea);
      textArea.select();
      document.execCommand('copy');
      document.body.removeChild(textArea);
      alert('Note copié dans le presse-papiers');
    }
  </script>
</head>
<body>
  <!-- Modal -->
  <div id="myModal" class="modal" style="display: block;">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <p>Voulez-vous vraiment lire cette note ? Elle sera supprimée après.</p>
    <div class="modal-content-e">
      <button onclick="confirmRead()">Oui</button>
      <button onclick="closeModal()">Non</button>
    </div>
  </div>

  <div class="glass">
    <h1>Secure Note</h1>
    <div id="secureText">
    </div>
    <button onclick="copyToClipboard()">Presse-Papiers</button>
  </div>
  <div id="catModal" class="modal">
    <div class="modal-content-e">
      <img src="https://media.tenor.com/b3o_TJUfZFAAAAAd/cat.gif" alt="Cat">
    </div>
  </div>
</body>
</html>
