<!DOCTYPE html>
<html>
<head>
  <title>View Note</title>
  <link rel="stylesheet" type="text/css" href="/style/download.css">
  <script src="/script/download.js"></script>
  <script src="/script/easteregg.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script> <!-- Ajout de CryptoJS -->
</head>
<body>
  <!-- Modal -->
  <div id="myModal" class="modal" style="display: block;">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <p>Voulez-vous vraiment lire cette note ? Elle sera supprimée automatiquement après.</p>
      <div class="button-container">
        <button onclick="confirmRead()">Oui</button>
        <button onclick="closeModal()">Non</button>
      </div>
    </div>
  </div>
  <div class="glass">
    <h1>Secure Note</h1>
    <div id="secureText" data-text="<%= text %>" data-id="<%= id %>">
      <!-- Le texte chiffré sera inséré ici -->
    </div>
    <button onclick="copyToClipboard()">Presse-Papiers</button>
  </div>
  <div id="catModal" class="modal">
    <div class="modal-content-e">
      <img src="https://media.tenor.com/b3o_TJUfZFAAAAAd/cat.gif" alt="Cat">
    </div>
  </div>

  <script>
    function confirmRead() {
      // Récupérer le texte chiffré et l'ID de la note
      const encryptedText = document.getElementById("secureText").getAttribute("data-text");
      const noteID = document.getElementById("secureText").getAttribute("data-id");

      // Déchiffrer le texte avec l'ID de la note côté client
      const decryptedTextClientSide = CryptoJS.AES.decrypt(encryptedText, noteID).toString(CryptoJS.enc.Utf8);
    
      // Le texte est maintenant déchiffré, vous pouvez choisir de le faire quoi que ce soit
      // Par exemple, insérer le texte déchiffré dans le DOM
      document.getElementById("secureText").textContent = decryptedTextClientSide;
      // Fermer le modal
      closeModal();
    }
  </script>
</body>
</html>