<!DOCTYPE html>
<html>
<head>
  <title>View Note</title>
  <link rel="stylesheet" type="text/css" href="/style/download.css">
  <script src="/script/download.js"></script>
  <script src="/script/easteregg.js"></script>
</head>
<body>
  <!-- Modal -->
  <div id="myModal" class="modal" style="display: block;">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <p>Voulez-vous vraiment lire cette note ? Elle sera supprimée automatiquement après.</p>
      <div class="button-container">
        <button onclick="confirmRead()">Oui</button>
        <button onclick="closeModal()">Non</button>
      </div>
    </div>
  </div>
  <div class="glass">
    <h1>Secure Note</h1>
    <div id="secureText" data-text="<%= text %>" data-id="<%= id %>">
    </div>
    <button onclick="copyToClipboard()">Presse-Papiers</button>
  </div>
  <div id="catModal" class="modal">
    <div class="modal-content-e">
      <img src="https://media.tenor.com/b3o_TJUfZFAAAAAd/cat.gif" alt="Cat">
    </div>
  </div>
</body>
</html>
